<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292151399844-q3f5aq5ngsfq77mb2j64okc7lkfq2bqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292151399844-q3f5aq5ngsfq77mb2j64okc7lkfq2bqa</string>
	<key>API_KEY</key>
	<string>AIzaSyCozxCEzQrXPFT_UXCf2CTBQzQhlPMp0Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>292151399844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bettermint</string>
	<key>PROJECT_ID</key>
	<string>bettermint-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>bettermint-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292151399844:ios:060a598526c242bd5d1d31</string>
</dict>
</plist>